<!DOCTYPE html>
<html>

<head>

    <title>Mood Music Recommendation</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>🎵 Mood Based Music Recommendation</h1>

        <form action="/predict" method="POST">

            <textarea
                name="text"
                placeholder="How are you feeling today?"
            ></textarea>

            <br>

            <button type="submit">

                Detect Mood

            </button>

        </form>

    </div>

</body>

</html>